
# logistic regression

In [45]:
import seaborn as sns
import numpy as np
import pandas as pd

In [46]:
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
df=df[df['species'] !='virginica']

In [48]:
df

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

[100 rows x 5 columns]

In [49]:
df['species'].unique()

array(['setosa', 'versicolor'], dtype=object)

In [50]:
df['species']=df['species'].map({'setosa':0, 'versicolor':1, 'virginica':2})

In [51]:
# independant and dependant feture
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [52]:
x

    sepal_length  sepal_width  petal_length  petal_width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2
..           ...          ...           ...          ...
95           5.7          3.0           4.2          1.2
96           5.7          2.9           4.2          1.3
97           6.2          2.9           4.3          1.3
98           5.1          2.5           3.0          1.1
99           5.7          2.8           4.1          1.3

[100 rows x 4 columns]

In [53]:
y

0     0
1     0
2     0
3     0
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: species, Length: 100, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [55]:
x_train

    sepal_length  sepal_width  petal_length  petal_width
55           5.7          2.8           4.5          1.3
88           5.6          3.0           4.1          1.3
26           5.0          3.4           1.6          0.4
42           4.4          3.2           1.3          0.2
69           5.6          2.5           3.9          1.1
..           ...          ...           ...          ...
60           5.0          2.0           3.5          1.0
71           6.1          2.8           4.0          1.3
14           5.8          4.0           1.2          0.2
92           5.8          2.6           4.0          1.2
51           6.4          3.2           4.5          1.5

[80 rows x 4 columns]

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
regression=LogisticRegression()

In [58]:
from sklearn.model_selection import GridSearchCV

In [82]:
parameter={'C':[0.5,1,2,3,5,6,7,9,10,30,45],'penalty':['l1','l2','elasticnet']}

In [83]:
log_regressor=GridSearchCV(regression,parameter,scoring='accuracy',cv=5)

In [84]:
log_regressor.fit(x,y)

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [0.5, 1, 2, 3, 5, 6, 7, 9, 10, 30, 45],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [85]:
print(log_regressor.best_params_)
print(log_regressor.best_score_)

{'C': 0.5, 'penalty': 'l2'}
1.0

In [87]:
prediction_log=log_regressor.predict(x_test)

In [91]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_recall_curve,roc_auc_score,f1_score

In [90]:
confusion_matrix(y_test,prediction_log)

array([[12,  0],
       [ 0,  8]], dtype=int64)

In [92]:
f1_score(y_test,prediction_log)

1.0